.mainContainer {
    width:22%;
    border:1px solid #eee;
    min-width: 260px;
}
.block {
    width:100%;
    height:80px;
    background-color: #eee;
}
.GroupNameContainer {
    display:flex;
    justify-content: space-between;
    align-items:center;
    border-bottom: 1px solid #eee;
    padding: 17px 15px;
}
.GroupNameContainer span:first-child {
    color:#3498db;
    font-style: italic;
}
.GroupNameContainer img {
    width:28px;
}
.GroupNameContainer img:hover {
    cursor: pointer;
}
.membersContainer p:first-child {
    padding-left:15px;
}
.member {
    display:flex;
    align-items: center;
    padding-left:15px;
    font-size:14px;
}
.member img{
width:40px;
margin-right:10px;
border-radius: 50%;
}
.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .viewSettings {
    display: block !important;
  }
  .dropdownContent p {
    padding:10px 5px;
    top:0;
    margin:0;
    font-size: 15px;
}
.dropdownContent p:hover {
    background-color:#3498db;
    color:#fff;
    cursor: pointer;
  }