.HomeContainer{
    width:60%;
    height: 100vh;
    margin:auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top:100px;
}
.ChatContainer {
    border-top: 1px solid #eee;
    width:100%;
    padding-top:20px;
}
.ImgContainer {
    margin-right:20px;
}
.ImgContainer img {
    border-radius: 50%;
    width:50px;
    height: 50px;
}
.textContainer{
    width:100%;
    min-height:70px;
    display:flex;
    align-items: center;
    padding-left:5px;

}
.textContainer:hover{
    background-color: rgb(243, 243, 243);
}
.text {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: red; */
    min-height:50px;
    width:100%;
}
.text span:nth-child(1) {
    color:rgb(189, 8, 8);
}
.InputContainer {
    position: absolute;
    bottom:30px;
    width:60%;
    height:40px;
}
.InputContainer input {
    width:100%;
    height:100%;
    padding-left:5px;
    font-size:18px;
    outline: none;
}
.SignOutBtn {
    position: absolute;
    top:20px;
    right:40px;
}
.SignOutBtn button{
    width:100px;
    padding: 5px 0;
    background-color: #fff;
    font-size:18px;
    border:2px solid black;
}
.SignOutBtn button:hover{
background-color: rgb(189, 8, 8);
color:white;
}


